Repository carlocorradini/graphmarket: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, git add -f

Fix eslint
  packages/graphmarket-service-purchases/src/services/PurchaseService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Update build.yml
  .github/workflows/build.yml
Due: none

Updated adapters version
  packages/graphmarket-service-authentications/package.json
  packages/graphmarket-service-users/package.json
Due: npx prettier --write, git add -f

Dep update
  packages/graphmarket-service-products/package.json
Due: npx prettier --write, git add -f

Added angular cli to dev deps in website
  website/package-lock.json
  website/package.json
Due: npx prettier --write, git add -f

Update README.md
  README.md
Due: npx prettier --write, git add -f

Fix readme
  README.md
Due: npx prettier --write, git add -f

Update readme
  README.md
Due: npx prettier --write, git add -f

image link md
  README.md
Due: npx prettier --write, git add -f

Env util fix
  package-lock.json
  packages/graphmarket-adapters/package.json
  packages/graphmarket-entities/package.json
  packages/graphmarket-gateway/package.json
  packages/graphmarket-helpers/package.json
  packages/graphmarket-logger/package.json
  packages/graphmarket-service-authentications/package.json
  packages/graphmarket-service-inventories/package.json
  packages/graphmarket-service-products/package.json
  packages/graphmarket-service-purchases/package.json
  packages/graphmarket-service-reviews/package.json
  packages/graphmarket-service-users/package.json
  packages/graphmarket-utils/package.json
  packages/graphmarket-utils/src/EnvUtil.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Add correct ports
  packages/graphmarket-service-authentications/.env.example
  packages/graphmarket-service-inventories/.env.example
  packages/graphmarket-service-products/.env.example
  packages/graphmarket-service-purchases/.env.example
  packages/graphmarket-service-reviews/.env.example
  packages/graphmarket-service-users/.env.example
Due: none

Fix gateway GraphQL playground cors problem
  packages/graphmarket-gateway/package.json
  packages/graphmarket-gateway/src/server/server.ts
  packages/graphmarket-helpers/package.json
  packages/graphmarket-helpers/src/buildExpressApp.ts
  packages/graphmarket-helpers/src/interfaces/IBuildExpressAppOptions.ts
  packages/graphmarket-service-authentications/package.json
  packages/graphmarket-service-inventories/package.json
  packages/graphmarket-service-products/package.json
  packages/graphmarket-service-purchases/package.json
  packages/graphmarket-service-reviews/package.json
  packages/graphmarket-service-users/package.json
Due: npx eslint --fix, npx prettier --write, git add -f

Add some script preloading the database with data
  scripts/delete.sh
  scripts/inventory.sql
  scripts/load.sh
  scripts/products.sql
  scripts/purchases.sql
  scripts/reviews.sql
  scripts/users.sql
Due: none

Purge Docker from main
  .dockerignore
  docker-compose.dev.yml
  docker-compose.yml
  docker/authentications.dev.dockerfile
  docker/authentications.dockerfile
  docker/gateway.dev.dockerfile
  docker/gateway.dockerfile
  docker/inventories.dev.dockerfile
  docker/inventories.dockerfile
  docker/products.dev.dockerfile
  docker/products.dockerfile
  docker/purchases.dev.dockerfile
  docker/purchases.dockerfile
  docker/reviews.dev.dockerfile
  docker/reviews.dockerfile
  docker/users.dev.dockerfile
  docker/users.dockerfile
Due: none

Add some script preloading the database with data (#179)
  scripts/delete.sh
  scripts/inventory.sql
  scripts/load.sh
  scripts/products.sql
  scripts/purchases.sql
  scripts/reviews.sql
  scripts/users.sql
Due: none

Purge Docker from main (#182)
  .dockerignore
  docker-compose.dev.yml
  docker-compose.yml
  docker/authentications.dev.dockerfile
  docker/authentications.dockerfile
  docker/gateway.dev.dockerfile
  docker/gateway.dockerfile
  docker/inventories.dev.dockerfile
  docker/inventories.dockerfile
  docker/products.dev.dockerfile
  docker/products.dockerfile
  docker/purchases.dev.dockerfile
  docker/purchases.dockerfile
  docker/reviews.dev.dockerfile
  docker/reviews.dockerfile
  docker/users.dev.dockerfile
  docker/users.dockerfile
Due: none

Specify service startup order in Compose (no in-order completion guarantee!)
  docker-compose.yml
Due: none

Dockerfiles: be more specific about what to copy
  docker/authentications.dockerfile
  docker/gateway.dockerfile
  docker/inventories.dockerfile
  docker/products.dockerfile
  docker/purchases.dockerfile
  docker/reviews.dockerfile
  docker/users.dockerfile
Due: none

Update docker-compose to read environment variables from .env
  docker-compose.yml
Due: none

Update .dockerignore
  .dockerignore
Due: none

Remove ENV=production directive from dockerfiles
  docker/authentications.dockerfile
  docker/gateway.dockerfile
  docker/inventories.dockerfile
  docker/products.dockerfile
  docker/purchases.dockerfile
  docker/reviews.dockerfile
  docker/users.dockerfile
Due: none

Remove useless port mappings
  docker-compose.yml
Due: none

Mini fixes
  website/angular.json
  website/package-lock.json
  website/package.json
  website/src/app/app.component.ts
  website/src/app/dashboard/admin/products/products.component.ts
  website/src/app/dashboard/profile/profile.component.ts
  website/src/app/dashboard/purchases/purchases.component.ts
  website/src/app/dashboard/reviews/reviews.component.ts
  website/src/app/dashboard/seller/inventories/inventories.component.ts
  website/src/app/products/product.component.ts
  website/src/app/user/user.component.ts
  website/src/app/verify/verify.component.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Mini fixes
  packages/graphmarket-gateway/package.json
  packages/graphmarket-service-authentications/package.json
  packages/graphmarket-service-inventories/package.json
  packages/graphmarket-service-products/package.json
  packages/graphmarket-service-purchases/package.json
  packages/graphmarket-service-reviews/package.json
  packages/graphmarket-service-users/package.json
Due: npx prettier --write, git add -f

prod env api url
  website/src/environments/environment.prod.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Enable gateway introspection
  packages/graphmarket-gateway/src/server/server.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Update README
  README.md
Due: npx prettier --write, git add -f

Update README (#186)
  README.md
Due: npx prettier --write, git add -f

Update users' phone numbers
  scripts/users.sql
Due: none

Support for Husky v5
  .husky/pre-commit
  package.json
Due: npx prettier --write, git add -f

Update users' phone numbers (#188)
  scripts/users.sql
Due: none

Path conditions:
  npx eslint --fix: any of: *.{js,ts}
  npx prettier --write: any of: *.{js,ts,json,md}
  git add -f: any of: *.{js,ts,json,md}
