Repository carlocorradini/graphmarket: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, git add -f

bug fix
  src/typings/express.d.ts
Due: npx eslint --fix, npx prettier --write, git add -f

postgresl ci
  .github/workflows/main.yml
Due: none

fix
  .github/workflows/main.yml
Due: none

?
  .github/workflows/main.yml
Due: none

fix?
  .github/workflows/main.yml
Due: none

hopeless
  .github/workflows/main.yml
Due: none

hopless fix
  .github/workflows/main.yml
Due: none

hope?
  .github/workflows/main.yml
Due: none

hope?v2
  .github/workflows/main.yml
Due: none

added express-jwt-blacklist as local dependency
  .eslintignore
  libs/express-jwt-blacklist/.gitignore
  libs/express-jwt-blacklist/.travis.yml
  libs/express-jwt-blacklist/LICENSE
  libs/express-jwt-blacklist/README.md
  libs/express-jwt-blacklist/lib/debug.js
  libs/express-jwt-blacklist/lib/index.js
  libs/express-jwt-blacklist/lib/store/index.js
  libs/express-jwt-blacklist/lib/store/memcached.js
  libs/express-jwt-blacklist/lib/store/memory.js
  libs/express-jwt-blacklist/lib/store/redis.js
  libs/express-jwt-blacklist/lib/utils.js
  libs/express-jwt-blacklist/package.json
  libs/express-jwt-blacklist/test/integration/memcached.spec.js
  libs/express-jwt-blacklist/test/integration/redis.spec.js
  libs/express-jwt-blacklist/test/lib.spec.js
  libs/express-jwt-blacklist/test/store.spec.js
  libs/express-jwt-blacklist/test/utils.spec.js
  package-lock.json
  package.json
Due: npx eslint --fix, npx prettier --write, git add -f

--_--
  .github/workflows/main.yml
Due: none

_-_
  .github/workflows/main.yml
Due: none

mini up in tests
  tests/createTestConnection.ts
Due: npx eslint --fix, npx prettier --write, git add -f

tests
  tests/createTestConnection.ts
  tests/globalSetup.ts
  tests/globalTeardown.ts
Due: npx eslint --fix, npx prettier --write, git add -f

funz?
  tests/createTestConnection.ts
Due: npx eslint --fix, npx prettier --write, git add -f

le si prova tutte
  .github/workflows/main.yml
Due: none

vediamo
  tests/createTestConnection.ts
Due: npx eslint --fix, npx prettier --write, git add -f

.
  .github/workflows/main.yml
Due: none

push
  .github/workflows/main.yml
  tests/createTestConnection.ts
Due: npx eslint --fix, npx prettier --write, git add -f

?
  tests/createTestConnection.ts
Due: npx eslint --fix, npx prettier --write, git add -f

added codecov badge
  README.md
  tests/createTestConnection.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Add URL in .env
  .env
Due: none

Warning: Simplify if statement
  libs/express-jwt-blacklist/lib/index.js
Due: npx eslint --fix, npx prettier --write, git add -f

Should support github actions
  .github/workflows/main.yml
  tests/createTestConnection.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Should support github actions (#80)
  .github/workflows/main.yml
  tests/createTestConnection.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Finished testing user creation
  libs/express-jwt-blacklist/.gitignore
  libs/express-jwt-blacklist/.travis.yml
  libs/express-jwt-blacklist/LICENSE
  libs/express-jwt-blacklist/README.md
  libs/express-jwt-blacklist/lib/debug.js
  libs/express-jwt-blacklist/lib/index.js
  libs/express-jwt-blacklist/lib/store/index.js
  libs/express-jwt-blacklist/lib/store/memcached.js
  libs/express-jwt-blacklist/lib/store/memory.js
  libs/express-jwt-blacklist/lib/store/redis.js
  libs/express-jwt-blacklist/lib/utils.js
  libs/express-jwt-blacklist/package.json
  libs/express-jwt-blacklist/test/integration/memcached.spec.js
  libs/express-jwt-blacklist/test/integration/redis.spec.js
  libs/express-jwt-blacklist/test/lib.spec.js
  libs/express-jwt-blacklist/test/store.spec.js
  libs/express-jwt-blacklist/test/utils.spec.js
  package-lock.json
  package.json
  src/graphql/inputs/user/UserCreateInput.ts
  tests/graphql/resolvers/UserResolver.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Hope
  .github/workflows/main.yml
  tests/createTestConnection.ts
  tests/globalSetup.ts
  tests/graphqlTestCall.ts
Due: npx eslint --fix, npx prettier --write, git add -f

nooo
  package-lock.json
  package.json
Due: npx prettier --write, git add -f

DA RIMUOVERE -> express jwt blacklist
  src/services/TokenService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

le proviamo tutte
  .github/workflows/main.yml
  tests/createTestConnection.ts
Due: npx eslint --fix, npx prettier --write, git add -f

funzionerai?
  .github/workflows/main.yml
  jest.config.ts
  tests/createTestConnection.ts
Due: npx eslint --fix, npx prettier --write, git add -f

try url
  .github/workflows/main.yml
Due: none

with url
  .github/workflows/main.yml
  tests/createTestConnection.ts
  tests/globalSetup.ts
Due: npx eslint --fix, npx prettier --write, git add -f

global env
  .github/workflows/main.yml
Due: none

added silent to tests
  jest.config.ts
Due: npx eslint --fix, npx prettier --write, git add -f

moved tests utilities
  tests/__setups/databaseConnection.ts
  tests/createTestConnection.ts
  tests/graphql/resolvers/UserResolver.test.ts
  tests/tsconfig.json
Due: npx eslint --fix, npx prettier --write, git add -f

Updated tests
  .env.example
  .env.test.example
  .gitignore
  jest.config.ts
  package.json
  tests/__setups/databaseConnection.ts
  tests/__utils/createDatabaseConnection.ts
  tests/__utils/env.ts
  tests/__utils/index.ts
  tests/__utils/makeGraphQlRequest.ts
  tests/globalSetup.ts
  tests/graphql/resolvers/UserResolver.test.ts
  tests/tsconfig.json
Due: npx eslint --fix, npx prettier --write, git add -f

removed jwt_secret from ci
  .github/workflows/main.yml
Due: none

Update README.md
  README.md
Due: npx prettier --write, git add -f

Path conditions:
  npx eslint --fix: any of: *.{js,ts}
  npx prettier --write: any of: *.{js,ts,json,md}
  git add -f: any of: *.{js,ts,json,md}
