Repository carlocorradini/graphmarket: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, git add -f

lock update
  package-lock.json
Due: npx prettier --write, git add -f

Stuctural improvements
  .gitignore
  package-lock.json
Due: npx prettier --write, git add -f

Husky shell fix
  .husky/pre-commit
Due: none

Bug fix product id routerling was undefined
  website/src/app/dashboard/seller/inventories/inventories.component.ts
Due: npx eslint --fix, npx prettier --write, git add -f

GraphQL upload types
  .gitignore
  .husky/.gitignore
  package-lock.json
  packages/graphmarket-helpers/package.json
Due: npx prettier --write, git add -f

Fix deps
  package-lock.json
Due: npx prettier --write, git add -f

Added report to the project
  Graph_Market.pdf
  README.md
Due: npx prettier --write, git add -f

Path conditions:
  npx eslint --fix: any of: *.{js,ts}
  npx prettier --write: any of: *.{js,ts,json,md}
  git add -f: any of: *.{js,ts,json,md}
