Repository carlocorradini/graphmarket: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, git add -f

.lintstagedrc:

{
  "*.{js,ts}": [
    "npx eslint --fix",
    "git add"
  ],
  "*.{js,ts,json,md}": [
    "npx prettier --write",
    "git add -f"
  ]
}

Dep update
  package-lock.json
  packages/graphmarket-service-authentications/package.json
  packages/graphmarket-service-inventories/package.json
  packages/graphmarket-service-products/package.json
  packages/graphmarket-service-purchases/package.json
  packages/graphmarket-service-reviews/package.json
  packages/graphmarket-service-users/package.json
Due: npx prettier --write, git add -f

Fix
  packages/graphmarket-service-authentications/src/resolvers/AuthenticationResolver.ts
  packages/graphmarket-service-users/src/inputs/UserCreateInput.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added helth checks for the gateway
  packages/graphmarket-gateway/package.json
  packages/graphmarket-gateway/src/bootstrap.ts
  packages/graphmarket-gateway/src/server/server.ts
  packages/graphmarket-gateway/src/services/healthChecks.ts
  packages/graphmarket-gateway/src/services/index.ts
  packages/graphmarket-utils/package.json
  packages/graphmarket-utils/src/ThreadUtil.ts
  packages/graphmarket-utils/src/UrlUtil.ts
  packages/graphmarket-utils/src/index.ts
  tsconfig.common.json
Due: npx eslint --fix, npx prettier --write, git add -f

More in site
  packages/graphmarket-graphql-scalars/package.json
  packages/graphmarket-service-purchases/src/resolvers/PurchaseResolver.ts
  packages/graphmarket-service-purchases/src/services/PurchaseService.ts
  website/src/app/core/models/index.ts
  website/src/app/core/models/product.model.ts
  website/src/app/core/models/purchase.model.ts
  website/src/app/core/models/review.model.ts
  website/src/app/core/models/user.model.ts
  website/src/app/dashboard/dashboard-routing.module.ts
  website/src/app/dashboard/dashboard.component.html
  website/src/app/dashboard/dashboard.module.ts
  website/src/app/dashboard/profile/profile.component.html
  website/src/app/dashboard/purchases/purchases.component.html
  website/src/app/dashboard/purchases/purchases.component.ts
  website/src/app/products/product.component.html
  website/src/app/products/product.component.ts
  website/src/app/products/products.component.html
  website/src/app/products/products.component.ts
  website/src/app/shared/layout/header.component.html
Due: npx eslint --fix, npx prettier --write, git add -f

Fix
  packages/graphmarket-service-authentications/package.json
  packages/graphmarket-service-inventories/package.json
  packages/graphmarket-service-products/package.json
  packages/graphmarket-service-purchases/package.json
  packages/graphmarket-service-reviews/package.json
  packages/graphmarket-service-users/package.json
Due: npx prettier --write, git add -f

More in site
  packages/graphmarket-graphql-args/src/PaginationArgs.ts
  packages/graphmarket-service-inventories/src/args/FindInventoriesArgs.ts
  packages/graphmarket-service-inventories/src/args/index.ts
  packages/graphmarket-service-inventories/src/resolvers/InventoryResolver.ts
  packages/graphmarket-service-inventories/src/resolvers/ProductInventoryResolver.ts
  packages/graphmarket-service-inventories/src/resolvers/UserInventoryResolver.ts
  packages/graphmarket-service-inventories/src/services/InventoryService.ts
  website/src/app/core/core.module.ts
  website/src/app/core/models/index.ts
  website/src/app/core/models/inventory.model.ts
  website/src/app/core/models/product.model.ts
  website/src/app/core/services/index.ts
  website/src/app/core/services/purchase.service.ts
  website/src/app/dashboard/purchases/purchases.component.html
  website/src/app/dashboard/purchases/purchases.component.ts
  website/src/app/products/product.component.html
  website/src/app/products/product.component.ts
  website/src/app/shared/index.ts
  website/src/app/shared/layout/header.component.html
  website/src/app/shared/layout/header.component.ts
  website/src/app/shared/shared.module.ts
  website/src/app/shared/show-auth.directive.ts
Due: npx eslint --fix, npx prettier --write, git add -f

More in site product
  website/src/app/products/product.component.html
  website/src/app/products/product.component.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Profile update
  website/src/app/dashboard/profile/profile.component.html
  website/src/app/dashboard/profile/profile.component.ts
  website/src/app/home/home.component.html
Due: npx eslint --fix, npx prettier --write, git add -f

Added update to profile user
  website/src/app/app.module.ts
  website/src/app/core/models/user.model.ts
  website/src/app/core/services/user.service.ts
  website/src/app/dashboard/dashboard.module.ts
  website/src/app/dashboard/profile/profile.component.html
  website/src/app/dashboard/profile/profile.component.ts
  website/src/app/sign-up/sign-up.component.html
Due: npx eslint --fix, npx prettier --write, git add -f

Added update to profile user
  website/src/app/dashboard/profile/profile.component.html
Due: none

Added reviews/create
  packages/graphmarket-service-reviews/src/args/FindReviewsArgs.ts
  packages/graphmarket-service-reviews/src/args/index.ts
  packages/graphmarket-service-reviews/src/resolvers/ReviewResolver.ts
  packages/graphmarket-service-reviews/src/services/ReviewService.ts
  website/src/app/dashboard/dashboard-routing.module.ts
  website/src/app/dashboard/dashboard.module.ts
  website/src/app/dashboard/profile/profile.component.html
  website/src/app/dashboard/profile/profile.component.ts
  website/src/app/dashboard/reviews/reviews.component.html
  website/src/app/dashboard/reviews/reviews.component.ts
  website/src/app/products/product.component.html
  website/src/app/products/product.component.ts
  website/src/app/shared/layout/header.component.html
Due: npx eslint --fix, npx prettier --write, git add -f

Added search product
  packages/graphmarket-service-products/src/args/FindProductsArgs.ts
  packages/graphmarket-service-products/src/args/index.ts
  packages/graphmarket-service-products/src/resolvers/ProductResolver.ts
  packages/graphmarket-service-products/src/services/ProductService.ts
  website/src/app/dashboard/dashboard.component.html
  website/src/app/dashboard/reviews/reviews.component.html
  website/src/app/dashboard/reviews/reviews.component.ts
  website/src/app/products/product.component.html
  website/src/app/products/products.component.html
  website/src/app/products/products.component.ts
  website/src/app/shared/layout/header.component.html
  website/src/app/shared/layout/header.component.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Fix
  website/src/app/dashboard/reviews/reviews.component.html
  website/src/app/products/product.component.html
Due: none

Administrator product
  packages/graphmarket-service-authentications/src/services/AuthenticationService.ts
  packages/graphmarket-service-products/src/inputs/ProductUpdateInput.ts
  website/src/app/app.module.ts
  website/src/app/auth-guard.service.ts
  website/src/app/auth/auth.module.ts
  website/src/app/core/services/user.service.ts
  website/src/app/dashboard/admin/admin-auth-guard.service.ts
  website/src/app/dashboard/admin/admin-routing.module.ts
  website/src/app/dashboard/admin/admin.component.html
  website/src/app/dashboard/admin/admin.component.ts
  website/src/app/dashboard/admin/admin.module.ts
  website/src/app/dashboard/admin/products/products.component.html
  website/src/app/dashboard/admin/products/products.component.ts
  website/src/app/dashboard/dashboard-routing.module.ts
  website/src/app/dashboard/dashboard.module.ts
  website/src/app/dashboard/profile/profile.component.ts
  website/src/app/dashboard/reviews/reviews.component.html
  website/src/app/graphql.module.ts
  website/src/app/shared/layout/header.component.html
  website/src/app/shared/layout/header.component.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Administrator product update
  packages/graphmarket-adapters/package.json
  packages/graphmarket-adapters/src/UploadAdapter.ts
  packages/graphmarket-service-products/package.json
  packages/graphmarket-service-products/src/resolvers/ProductResolver.ts
  packages/graphmarket-service-products/src/services/ProductService.ts
  packages/graphmarket-service-reviews/src/resolvers/ReviewResolver.ts
  packages/graphmarket-service-users/src/resolvers/UserResolver.ts
  packages/graphmarket-service-users/src/services/UserService.ts
  website/src/app/dashboard/admin/products/products.component.html
  website/src/app/dashboard/admin/products/products.component.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Administrator fix
  website/src/app/dashboard/admin/products/products.component.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Seller page with inventories
  packages/graphmarket-service-inventories/src/inputs/InventoryUpdateInput.ts
  website/src/app/dashboard/admin/products/products.component.html
  website/src/app/dashboard/admin/products/products.component.ts
  website/src/app/dashboard/dashboard-routing.module.ts
  website/src/app/dashboard/profile/profile.component.ts
  website/src/app/dashboard/seller/inventories/inventories.component.html
  website/src/app/dashboard/seller/inventories/inventories.component.ts
  website/src/app/dashboard/seller/seller-auth-guard.service.ts
  website/src/app/dashboard/seller/seller-routing.module.ts
  website/src/app/dashboard/seller/seller.component.html
  website/src/app/dashboard/seller/seller.component.ts
  website/src/app/dashboard/seller/seller.module.ts
  website/src/app/shared/layout/header.component.html
Due: npx eslint --fix, npx prettier --write, git add -f

Dependency update for @graphmarket
  packages/graphmarket-adapters/package.json
  packages/graphmarket-entities/package.json
  packages/graphmarket-errors/package.json
  packages/graphmarket-gateway/package.json
  packages/graphmarket-graphql-args/package.json
  packages/graphmarket-graphql-scalars/package.json
  packages/graphmarket-helpers/package.json
  packages/graphmarket-interfaces/package.json
  packages/graphmarket-logger/package.json
  packages/graphmarket-middlewares/package.json
  packages/graphmarket-service-authentications/package.json
  packages/graphmarket-service-inventories/package.json
  packages/graphmarket-service-products/package.json
  packages/graphmarket-service-purchases/package.json
  packages/graphmarket-service-reviews/package.json
  packages/graphmarket-service-users/package.json
  packages/graphmarket-utils/package.json
Due: npx prettier --write, git add -f

Website advanced (#174)
  packages/graphmarket-adapters/package.json
  packages/graphmarket-entities/package.json
  packages/graphmarket-errors/package.json
  packages/graphmarket-gateway/package.json
  packages/graphmarket-graphql-args/package.json
  packages/graphmarket-graphql-scalars/package.json
  packages/graphmarket-helpers/package.json
  packages/graphmarket-interfaces/package.json
  packages/graphmarket-logger/package.json
  packages/graphmarket-middlewares/package.json
  packages/graphmarket-service-authentications/package.json
  packages/graphmarket-service-inventories/package.json
  packages/graphmarket-service-products/package.json
  packages/graphmarket-service-purchases/package.json
  packages/graphmarket-service-reviews/package.json
  packages/graphmarket-service-users/package.json
  packages/graphmarket-utils/package.json
Due: npx prettier --write, git add -f

update
  package-lock.json
Due: npx prettier --write, git add -f

Added .env.example
  packages/graphmarket-gateway/.env.example
  packages/graphmarket-gateway/src/config/config.ts
  packages/graphmarket-gateway/src/config/env.ts
  packages/graphmarket-service-authentications/.env.example
  packages/graphmarket-service-inventories/.env.example
  packages/graphmarket-service-products/.env.example
  packages/graphmarket-service-purchases/.env.example
  packages/graphmarket-service-reviews/.env.example
  packages/graphmarket-service-users/.env.example
Due: npx eslint --fix, npx prettier --write, git add -f

Updated all dependencies
  package-lock.json
  packages/graphmarket-adapters/package.json
  packages/graphmarket-gateway/src/config/env.ts
  packages/graphmarket-helpers/package.json
  packages/graphmarket-helpers/src/buildEnv.ts
  packages/graphmarket-helpers/src/index.ts
  packages/graphmarket-interfaces/src/config/IConfigNode.ts
  packages/graphmarket-service-authentications/package.json
  packages/graphmarket-service-authentications/src/config/env.ts
  packages/graphmarket-service-inventories/package.json
  packages/graphmarket-service-inventories/src/config/env.ts
  packages/graphmarket-service-products/package.json
  packages/graphmarket-service-products/src/config/env.ts
  packages/graphmarket-service-purchases/package.json
  packages/graphmarket-service-purchases/src/config/env.ts
  packages/graphmarket-service-reviews/package.json
  packages/graphmarket-service-reviews/src/config/env.ts
  packages/graphmarket-service-users/package.json
  packages/graphmarket-service-users/src/config/env.ts
  packages/graphmarket-utils/package.json
  packages/graphmarket-utils/src/EnvUtil.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Updated versions -> working!
  package-lock.json
  packages/graphmarket-adapters/package.json
  packages/graphmarket-entities/package.json
  packages/graphmarket-errors/package.json
  packages/graphmarket-gateway/package.json
  packages/graphmarket-graphql-args/package.json
  packages/graphmarket-graphql-scalars/package.json
  packages/graphmarket-helpers/package.json
  packages/graphmarket-interfaces/package.json
  packages/graphmarket-logger/package.json
  packages/graphmarket-middlewares/package.json
  packages/graphmarket-service-authentications/package.json
  packages/graphmarket-service-inventories/package.json
  packages/graphmarket-service-products/package.json
  packages/graphmarket-service-purchases/package.json
  packages/graphmarket-service-reviews/package.json
  packages/graphmarket-service-users/package.json
  packages/graphmarket-utils/package.json
Due: npx prettier --write, git add -f

Env example (#175)
  package-lock.json
  packages/graphmarket-adapters/package.json
  packages/graphmarket-entities/package.json
  packages/graphmarket-errors/package.json
  packages/graphmarket-gateway/.env.example
  packages/graphmarket-gateway/package.json
  packages/graphmarket-gateway/src/config/config.ts
  packages/graphmarket-gateway/src/config/env.ts
  packages/graphmarket-graphql-args/package.json
  packages/graphmarket-graphql-scalars/package.json
  packages/graphmarket-helpers/package.json
  packages/graphmarket-helpers/src/buildEnv.ts
  packages/graphmarket-helpers/src/index.ts
  packages/graphmarket-interfaces/package.json
  packages/graphmarket-interfaces/src/config/IConfigNode.ts
  packages/graphmarket-logger/package.json
  packages/graphmarket-middlewares/package.json
  packages/graphmarket-service-authentications/.env.example
  packages/graphmarket-service-authentications/package.json
  packages/graphmarket-service-authentications/src/config/env.ts
  packages/graphmarket-service-inventories/.env.example
  packages/graphmarket-service-inventories/package.json
  packages/graphmarket-service-inventories/src/config/env.ts
  packages/graphmarket-service-products/.env.example
  packages/graphmarket-service-products/package.json
  packages/graphmarket-service-products/src/config/env.ts
  packages/graphmarket-service-purchases/.env.example
  packages/graphmarket-service-purchases/package.json
  packages/graphmarket-service-purchases/src/config/env.ts
  packages/graphmarket-service-reviews/.env.example
  packages/graphmarket-service-reviews/package.json
  packages/graphmarket-service-reviews/src/config/env.ts
  packages/graphmarket-service-users/.env.example
  packages/graphmarket-service-users/package.json
  packages/graphmarket-service-users/src/config/env.ts
  packages/graphmarket-utils/package.json
  packages/graphmarket-utils/src/EnvUtil.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Fix typo
  packages/graphmarket-service-inventories/src/services/InventoryService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Updated eslintignore
  .eslintignore
  .eslintrc
Due: none

Added dummy tests -> coverage
  packages/graphmarket-adapters/tests/dummy.test.ts
  packages/graphmarket-entities/tests/user/User.test.ts
  packages/graphmarket-gateway/tests/dummy.test.ts
  packages/graphmarket-graphql-args/tests/dummy.test.ts
  packages/graphmarket-graphql-scalars/tests/dummy.test.ts
  packages/graphmarket-helpers/tests/dummy.test.ts
  packages/graphmarket-interfaces/tests/dummy.test.ts
  packages/graphmarket-logger/tests/dummy.test.ts
  packages/graphmarket-service-authentications/tests/dummy.test.ts
  packages/graphmarket-service-inventories/tests/dummy.test.ts
  packages/graphmarket-service-products/tests/dummy.test.ts
  packages/graphmarket-service-purchases/tests/dummy.test.ts
  packages/graphmarket-service-reviews/tests/dummy.test.ts
  packages/graphmarket-service-users/tests/dummy.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

eslint fix
  packages/graphmarket-errors/src/EntityAlreadyExistsError.ts
  packages/graphmarket-service-inventories/src/args/index.ts
  packages/graphmarket-service-inventories/src/resolvers/UserInventoryResolver.ts
  packages/graphmarket-service-inventories/src/resolvers/resolveInventoryReference.ts
  packages/graphmarket-service-inventories/src/server/server.ts
  packages/graphmarket-service-products/src/args/index.ts
  packages/graphmarket-service-purchases/src/inputs/index.ts
  packages/graphmarket-service-reviews/src/args/index.ts
  packages/graphmarket-service-reviews/src/server/server.ts
  packages/graphmarket-utils/src/ThreadUtil.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added repository for user service
  packages/graphmarket-service-users/src/repositories/UserRepository.ts
  packages/graphmarket-service-users/src/repositories/index.ts
  packages/graphmarket-service-users/src/resolvers/InventoryUserResolver.ts
  packages/graphmarket-service-users/src/resolvers/PurchaseUserResolver.ts
  packages/graphmarket-service-users/src/resolvers/ReviewUserResolver.ts
  packages/graphmarket-service-users/src/resolvers/UserResolver.ts
  packages/graphmarket-service-users/src/resolvers/resolveUserReference.ts
  packages/graphmarket-service-users/src/services/UserService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added repository for review service
  packages/graphmarket-service-reviews/src/repositories/ReviewRepository.ts
  packages/graphmarket-service-reviews/src/repositories/index.ts
  packages/graphmarket-service-reviews/src/resolvers/ProductReviewResolver.ts
  packages/graphmarket-service-reviews/src/resolvers/ReviewResolver.ts
  packages/graphmarket-service-reviews/src/resolvers/UserReviewResolver.ts
  packages/graphmarket-service-reviews/src/resolvers/resolveReviewReference.ts
  packages/graphmarket-service-reviews/src/services/ReviewService.ts
  packages/graphmarket-service-users/src/repositories/UserRepository.ts
  packages/graphmarket-service-users/src/resolvers/UserResolver.ts
  packages/graphmarket-service-users/src/resolvers/resolveUserReference.ts
  packages/graphmarket-service-users/src/services/UserService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added repository for purchase service
  packages/graphmarket-service-purchases/src/args/FindPurchasesArgs.ts
  packages/graphmarket-service-purchases/src/args/index.ts
  packages/graphmarket-service-purchases/src/repositories/PurchaseRepository.ts
  packages/graphmarket-service-purchases/src/repositories/index.ts
  packages/graphmarket-service-purchases/src/resolvers/PurchaseResolver.ts
  packages/graphmarket-service-purchases/src/resolvers/ReviewPurchaseResolver.ts
  packages/graphmarket-service-purchases/src/resolvers/UserPurchaseResolver.ts
  packages/graphmarket-service-purchases/src/resolvers/resolvePurchaseReference.ts
  packages/graphmarket-service-purchases/src/services/PurchaseService.ts
  packages/graphmarket-service-reviews/src/repositories/ReviewRepository.ts
  packages/graphmarket-service-reviews/src/resolvers/ProductReviewResolver.ts
  packages/graphmarket-service-reviews/src/services/ReviewService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added repository for product service
  packages/graphmarket-service-products/src/repositories/ProductRepository.ts
  packages/graphmarket-service-products/src/repositories/index.ts
  packages/graphmarket-service-products/src/resolvers/InventoryProductResolver.ts
  packages/graphmarket-service-products/src/resolvers/ProductResolver.ts
  packages/graphmarket-service-products/src/resolvers/PurchaseProductResolver.ts
  packages/graphmarket-service-products/src/resolvers/ReviewProductResolver.ts
  packages/graphmarket-service-products/src/resolvers/resolveProductReference.ts
  packages/graphmarket-service-products/src/services/ProductService.ts
  packages/graphmarket-service-users/src/repositories/UserRepository.ts
  packages/graphmarket-service-users/src/resolvers/InventoryUserResolver.ts
  packages/graphmarket-service-users/src/resolvers/PurchaseUserResolver.ts
  packages/graphmarket-service-users/src/resolvers/ReviewUserResolver.ts
  packages/graphmarket-service-users/src/services/UserService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added repository for inventory service
  package-lock.json
  packages/graphmarket-service-inventories/package.json
  packages/graphmarket-service-inventories/src/args/index.ts
  packages/graphmarket-service-inventories/src/repositories/InventoryRepository.ts
  packages/graphmarket-service-inventories/src/repositories/index.ts
  packages/graphmarket-service-inventories/src/resolvers/InventoryResolver.ts
  packages/graphmarket-service-inventories/src/resolvers/ProductInventoryResolver.ts
  packages/graphmarket-service-inventories/src/resolvers/UserInventoryResolver.ts
  packages/graphmarket-service-inventories/src/resolvers/resolveInventoryReference.ts
  packages/graphmarket-service-inventories/src/services/InventoryService.ts
  packages/graphmarket-service-reviews/src/repositories/ReviewRepository.ts
  packages/graphmarket-service-reviews/src/services/ReviewService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added repository for authentications service
  packages/graphmarket-service-authentications/src/repositories/UserRepository.ts
  packages/graphmarket-service-authentications/src/repositories/index.ts
  packages/graphmarket-service-authentications/src/services/AuthenticationService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Fix Eslint
  packages/graphmarket-service-authentications/src/repositories/UserRepository.ts
  packages/graphmarket-service-inventories/src/repositories/InventoryRepository.ts
  packages/graphmarket-service-products/src/repositories/index.ts
  packages/graphmarket-service-purchases/src/args/FindPurchasesArgs.ts
  packages/graphmarket-service-purchases/src/repositories/PurchaseRepository.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added email adapter to purchase
  packages/graphmarket-adapters/package.json
  packages/graphmarket-adapters/src/EmailAdapter.ts
  packages/graphmarket-service-purchases/.env.example
  packages/graphmarket-service-purchases/package.json
  packages/graphmarket-service-purchases/src/bootstrap.ts
  packages/graphmarket-service-purchases/src/config/config.ts
  packages/graphmarket-service-purchases/src/config/env.ts
  packages/graphmarket-service-purchases/src/interfaces/IConfigPurchasesService.ts
  packages/graphmarket-service-purchases/src/repositories/PurchaseRepository.ts
  packages/graphmarket-service-purchases/src/server/server.ts
  packages/graphmarket-service-purchases/src/services/PurchaseService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

CI?
  .github/workflows/build.yml
  packages/graphmarket-adapters/src/EmailAdapter.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Fix eslint
  packages/graphmarket-service-purchases/src/repositories/PurchaseRepository.ts
Due: npx eslint --fix, npx prettier --write, git add -f
