Repository carlocorradini/graphmarket: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, git add -f

Remove env.ts file in tests __utils__
  src/config/env.ts
  tests/__utils__/createDatabaseConnection.ts
  tests/__utils__/env.ts
  tests/__utils__/index.ts
  tests/config/config.test.ts
  tests/config/env.test.ts
  tests/globalSetup.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added @test and @app in tests
  jest.config.ts
  tests/__utils__/createDatabaseConnection.ts
  tests/__utils__/makeGraphQlRequest.ts
  tests/config/config.test.ts
  tests/config/env.test.ts
  tests/entities/User.test.ts
  tests/errors/AuthenticationError.test.ts
  tests/errors/UnauthorizedError.test.ts
  tests/errors/VerificationError.test.ts
  tests/globalSetup.ts
  tests/graphql/resolvers/UserResolver.test.ts
  tests/tsconfig.json
  tests/util/CryptUtil.test.ts
  tests/util/EnvUtil.test.ts
  tsconfig.json
Due: npx eslint --fix, npx prettier --write, git add -f

Test better (#92)
  jest.config.ts
  src/config/env.ts
  tests/__utils__/createDatabaseConnection.ts
  tests/__utils__/env.ts
  tests/__utils__/index.ts
  tests/__utils__/makeGraphQlRequest.ts
  tests/config/config.test.ts
  tests/config/env.test.ts
  tests/entities/User.test.ts
  tests/errors/AuthenticationError.test.ts
  tests/errors/UnauthorizedError.test.ts
  tests/errors/VerificationError.test.ts
  tests/globalSetup.ts
  tests/graphql/resolvers/UserResolver.test.ts
  tests/tsconfig.json
  tests/util/CryptUtil.test.ts
  tests/util/EnvUtil.test.ts
  tsconfig.json
Due: npx eslint --fix, npx prettier --write, git add -f

Added email service
  .env.example
  .env.test.example
  package-lock.json
  package.json
  src/config/config.ts
  src/config/env.ts
  src/services/EmailService.ts
  src/services/PhoneService.ts
  src/services/UserService.ts
  src/services/index.ts
  src/types/types.ts
  src/utils/EnvUtil.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Fix a bug in dev mode when loading .env file
  package-lock.json
  package.json
Due: npx prettier --write, git add -f

Update build.yml
  .github/workflows/build.yml
Due: none

config tests update
  tests/config/config.test.ts
  tests/config/env.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added todo send email
  src/services/UserService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Email service & bug fix in dev mode loading .env file (#94)
  .env.example
  .env.test.example
  .github/workflows/build.yml
  package-lock.json
  package.json
  src/config/config.ts
  src/config/env.ts
  src/services/EmailService.ts
  src/services/PhoneService.ts
  src/services/UserService.ts
  src/services/index.ts
  src/types/types.ts
  src/utils/EnvUtil.ts
  tests/config/config.test.ts
  tests/config/env.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Removed req & res from GraphQL context
  src/server/Server.ts
  src/types/types.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Renamed AuthorizationMiddleware to authorizationMiddleware
  src/middlewares/AuthorizationMiddleware.ts
  src/middlewares/index.ts
  src/server/Server.ts
Due: npx eslint --fix, npx prettier --write, git add -f

import fix
  tests/__utils__/makeGraphQlRequest.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Test signed commit
  .env.example
Due: none

Test signed commit is working?
  .env.example
Due: none

Signed commit
  Procfile
Due: none

signed commit
  Procfile
Due: none

your commit message
  Procfile
Due: none

Renamed AuthorizationMiddleware to authorizationMiddleware (#98)
  src/middlewares/AuthorizationMiddleware.ts
  src/middlewares/index.ts
  src/server/Server.ts
  tests/__utils__/makeGraphQlRequest.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Removed req & res from GraphQL context (#97)
  src/server/Server.ts
  src/types/types.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Logger transports
  src/logger/logger.ts
Due: npx eslint --fix, npx prettier --write, git add -f

file renaming in lowercase
  src/middlewares/index.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Rename AuthorizationMiddleware.ts to authorizationMiddleware.ts
  src/middlewares/authorizationMiddleware.ts
Due: npx eslint --fix, npx prettier --write, git add -f

tests for authorization middleware
  tests/middlewares/authorizationMiddleware.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added uploadService and the possibility to change avatar
  .env.example
  .env.test.example
  package-lock.json
  package.json
  src/config/config.ts
  src/config/env.ts
  src/entities/User.ts
  src/graphql/resolvers/UserResolver.ts
  src/server/Server.ts
  src/services/TokenService.ts
  src/services/UploadService.ts
  src/services/UserService.ts
  src/services/index.ts
  src/types/types.ts
  tests/config/config.test.ts
  tests/config/env.test.ts
  tests/entities/User.test.ts
  tests/graphql/resolvers/UserResolver.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Check whether Redis and database can be connected before tests
  tests/globalSetup.ts
Due: npx eslint --fix, npx prettier --write, git add -f

more tests (fix)
  tests/graphql/resolvers/UserResolver.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added upload configuration
  .env.example
  src/config/config.ts
  src/config/env.ts
  src/server/Server.ts
  src/types/types.ts
  tests/config/config.test.ts
  tests/config/env.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Add consoleTransport for testing mode
  src/logger/logger.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Improve globalSetup
  tests/globalSetup.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added uploadService and the possibility to change avatar (#100)
  .env.example
  .env.test.example
  .github/workflows/build.yml
  package-lock.json
  package.json
  src/config/config.ts
  src/config/env.ts
  src/entities/User.ts
  src/graphql/resolvers/UserResolver.ts
  src/server/Server.ts
  src/services/TokenService.ts
  src/services/UploadService.ts
  src/services/UserService.ts
  src/services/index.ts
  src/types/types.ts
  tests/config/config.test.ts
  tests/config/env.test.ts
  tests/entities/User.test.ts
  tests/graphql/resolvers/UserResolver.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added unit converter for better readability
  package-lock.json
  package.json
  src/config/env.ts
Due: npx eslint --fix, npx prettier --write, git add -f

removed unused typeDi typeorm
  package-lock.json
  package.json
Due: npx prettier --write, git add -f

Inline two method calls
  src/logger/logger.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added unit converter for better readability (#106)
  package-lock.json
  package.json
  src/config/env.ts
Due: npx eslint --fix, npx prettier --write, git add -f

removed unused typeDi typeorm (#107)
  package-lock.json
  package.json
Due: npx prettier --write, git add -f

Check whether Redis and database can be connected before tests (#102)
  src/logger/logger.ts
  tests/globalSetup.ts
Due: npx eslint --fix, npx prettier --write, git add -f

updated upload service for better usability
  src/services/UploadService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

updateAvatar resolver resource changed to ReadStream
  src/graphql/resolvers/UserResolver.ts
  src/services/UploadService.ts
  src/services/UserService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Path conditions:
  npx eslint --fix: any of: *.{js,ts}
  npx prettier --write: any of: *.{js,ts,json,md}
  git add -f: any of: *.{js,ts,json,md}
