Repository carlocorradini/graphmarket: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, git add -f

Renamed unauthorizedError into AuthorizationError
  src/errors/AuthorizationError.ts
  src/errors/UnauthorizedError.ts
  src/errors/index.ts
Due: npx eslint --fix, npx prettier --write, git add -f

adjusted tests
  tests/errors/AuthorizationError.test.ts
  tests/errors/UnauthorizedError.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Renamed script from test:verbose to test:debug
  package.json
Due: npx prettier --write, git add -f

Renamed unauthorizedError into AuthorizationError (#115)
  package.json
  src/errors/AuthorizationError.ts
  src/errors/UnauthorizedError.ts
  src/errors/index.ts
  tests/errors/AuthorizationError.test.ts
  tests/errors/UnauthorizedError.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Moved all available scalars into @app/scalars
  src/entities/User.ts
  src/graphql/scalars/index.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Removed graphql classes from user services
  src/graphql/resolvers/UserResolver.ts
  src/services/UserService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

now phoneserivde returns the results
  src/services/PhoneService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Base verification
  src/graphql/resolvers/UserResolver.ts
  src/services/EmailService.ts
  src/services/PhoneService.ts
  src/services/UserService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

BETTER VERIFICATION
  src/errors/VerificationError.ts
  src/services/UserService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

When user is not verified add userId to the error
  src/errors/VerificationError.ts
  src/services/UserService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

fix tests
  src/services/EmailService.ts
  tests/graphql/resolvers/UserResolver.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

more tests
  tests/errors/VerificationError.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Add interface module
  src/types/types.ts
Due: npx eslint --fix, npx prettier --write, git add -f

User verification (#117)
  src/errors/VerificationError.ts
  src/graphql/resolvers/UserResolver.ts
  src/services/EmailService.ts
  src/services/PhoneService.ts
  src/services/UserService.ts
  tests/errors/VerificationError.test.ts
  tests/graphql/resolvers/UserResolver.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Fix repeated SIGINT signals
  src/app.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Fix repeated SIGINT signals (#119)
  src/app.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Refactor the bootstrapping procedure into modules
  src/app.ts
  src/server/Server.ts
  src/server/index.ts
  src/server/modules/appModule.ts
  src/server/modules/databaseModule.ts
  src/server/modules/dependencyInjectionModule.ts
  src/server/modules/graphqlModule.ts
  src/server/modules/index.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Refactor the server class into modules
  src/app.ts
  src/server/Server.ts
  src/server/index.ts
  src/server/modules/appModule.ts
  src/server/modules/databaseModule.ts
  src/server/modules/dependencyInjectionModule.ts
  src/server/modules/graphqlModule.ts
  src/server/modules/index.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Update app.ts
  src/app.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Refactor the server class into modules (#121)
  src/app.ts
  src/server/Server.ts
  src/server/index.ts
  src/server/modules/appModule.ts
  src/server/modules/databaseModule.ts
  src/server/modules/dependencyInjectionModule.ts
  src/server/modules/graphqlModule.ts
  src/server/modules/index.ts
  src/types/types.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

TO REMOVE--> ONLY FOR TESTING
  package.json
Due: npx prettier --write, git add -f

REMOVE!
  package-lock.json
Due: npx prettier --write, git add -f

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: npx prettier --write, git add -f

To be removed
  package-lock.json
  package.json
Due: npx prettier --write, git add -f

tests
  package-lock.json
  package.json
Due: npx prettier --write, git add -f

Dependencies updates
  package-lock.json
  package.json
Due: npx prettier --write, git add -f

update deps
  package-lock.json
  package.json
Due: npx prettier --write, git add -f

Base structure
  .editorconfig
  .eslintignore
  .eslintrc
  .gitattributes
  .gitignore
  .huskyrc
  .lintstagedrc
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  LICENSE
  README.md
  jest.config.ts
  package-lock.json
  package.json
  src/index.ts
  src/scalars/index.ts
  src/services/users/User.ts
  src/utils/CryptUtil.ts
  src/utils/EnvUtil.ts
  src/utils/index.ts
  tests/globalSetup.ts
  tests/globalTeardown.ts
  tests/index.test.ts
  tests/tsconfig.json
  tsconfig.json
Due: npx eslint --fix, npx prettier --write, git add -f

Added all remaining structured from older project
  .eslintrc
  build.json
  package-lock.json
  package.json
  scripts/build.ts
  scripts/tsconfig.json
  src/graphql/args/PaginationArgs.ts
  src/graphql/args/index.ts
  src/graphql/index.ts
  src/graphql/scalars/index.ts
  src/helpers/buildDatabaseConnection.ts
  src/services/products/entities/Product.ts
  src/services/products/entities/index.ts
  src/services/products/index.ts
  src/services/users/entities/User.ts
  src/services/users/inputs/UserCreateInput.ts
  src/services/users/inputs/UserUpdateInput.ts
  src/services/users/resolvers/UserResolver.ts
  typedoc.json
Due: npx eslint --fix, npx prettier --write, git add -f

added reflect metadata
  src/services/users/bootstrap.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added bootstrap messages
  src/bootstrap.ts
  src/config/config.ts
  src/config/env.ts
  src/services/users/bootstrap.ts
  src/services/users/server/userServer.ts
  src/types/types.ts
Due: npx eslint --fix, npx prettier --write, git add -f

base
  .github/dependabot.yml
  .github/stale.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
Due: none

bug fix
  package-lock.json
  packages/graphmarket-service-users/package.json
Due: npx prettier --write, git add -f

Added products
  packages/graphmarket-gateway/src/bootstrap.ts
  packages/graphmarket-gateway/src/config/env.ts
  packages/graphmarket-gateway/src/types/types.ts
  packages/graphmarket-service-products/package.json
  packages/graphmarket-service-products/src/bootstrap.ts
  packages/graphmarket-service-products/src/config/config.ts
  packages/graphmarket-service-products/src/config/env.ts
  packages/graphmarket-service-products/src/config/index.ts
  packages/graphmarket-service-products/src/entities/Product.ts
  packages/graphmarket-service-products/src/entities/index.ts
  packages/graphmarket-service-products/src/index.ts
  packages/graphmarket-service-products/src/inputs/ProductCreateInput.ts
  packages/graphmarket-service-products/src/inputs/index.ts
  packages/graphmarket-service-products/src/references/index.ts
  packages/graphmarket-service-products/src/references/productReference.ts
  packages/graphmarket-service-products/src/resolvers/ProductResolver.ts
  packages/graphmarket-service-products/src/resolvers/index.ts
  packages/graphmarket-service-products/src/server/index.ts
  packages/graphmarket-service-products/src/server/productServer.ts
  packages/graphmarket-service-products/src/services/ProductService.ts
  packages/graphmarket-service-products/src/services/index.ts
  packages/graphmarket-service-products/src/types/index.ts
  packages/graphmarket-service-products/src/types/types.ts
  packages/graphmarket-service-products/tsconfig.json
  packages/graphmarket-service-users/src/bootstrap.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Path conditions:
  npx eslint --fix: any of: *.{js,ts}
  npx prettier --write: any of: *.{js,ts,json,md}
  git add -f: any of: *.{js,ts,json,md}
