Repository carlocorradini/graphmarket: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, git add -f

.lintstagedrc:

{
  "*.{js,ts}": [
    "npx eslint --fix",
    "git add"
  ],
  "*.{js,ts,json,md}": [
    "npx prettier --write",
    "git add -f"
  ]
}

Dep update
  packages/graphmarket-entities/package.json
  packages/graphmarket-errors/package.json
  packages/graphmarket-middlewares/package.json
  packages/graphmarket-utils/package.json
Due: npx prettier --write, git add -f

Fix
  package-lock.json
Due: npx prettier --write, git add -f

fix
  packages/graphmarket-gateway/package.json
Due: npx prettier --write, git add -f

speed
  package.json
Due: npx prettier --write, git add -f

Add class-validator
  package-lock.json
  packages/graphmarket-gateway/package.json
Due: npx prettier --write, git add -f

Add some dockerfiles. See details below
  .dockerignore
  docker-compose.yml
  docker/gateway.dockerfile
  docker/products.dockerfile
Due: none

mini fix for npm prune
  docker/gateway.dockerfile
  docker/products.dockerfile
Due: none

Use node:lts and do not copy package-lock
  docker/gateway.dockerfile
  docker/products.dockerfile
Due: none

Updated
  website/src/app/products/products.component.html
Due: none

Use npx ts-node as a workaround to compile (HAS BUGS! See details)
  docker/gateway.dockerfile
  docker/products.dockerfile
Due: none

Fix typo (naming consistency)
  packages/graphmarket-gateway/src/config/config.ts
  packages/graphmarket-gateway/src/config/env.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added cover to product
  packages/graphmarket-service-products/src/resolvers/ProductResolver.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Add several dockerfiles (BUGS! See commit f93aa694)
  docker/authentications.dockerfile
  docker/inventories.dockerfile
  docker/purchases.dockerfile
  docker/reviews.dockerfile
  docker/users.dockerfile
Due: none

Sketch some docker-compose (Has an error: see details)
  docker-compose.yml
Due: none

Addedminimum price available to product
  packages/graphmarket-service-inventories/src/resolvers/ProductInventoryResolver.ts
  packages/graphmarket-service-inventories/src/services/InventoryService.ts
  website/package-lock.json
  website/package.json
  website/src/app/app.module.ts
  website/src/app/graphql.module.ts
  website/src/app/products/products.component.ts
  website/src/environments/environment.common.ts
  website/tsconfig.json
Due: npx eslint --fix, npx prettier --write, git add -f

Fix 339c6edd
  package-lock.json
  packages/graphmarket-service-authentications/package.json
Due: npx prettier --write, git add -f

Products
  website/package-lock.json
  website/package.json
  website/src/app/app.module.ts
  website/src/app/graphql.module.ts
  website/src/app/products/products.component.html
  website/src/app/products/products.component.ts
  website/src/app/products/products.module.ts
  website/src/assets/images/star-rating.icons.svg
  website/src/styles/styles.scss
Due: npx eslint --fix, npx prettier --write, git add -f

Change network addresses
  docker-compose.yml
Due: none

Dockerfiles in development mode
  docker-compose.dev.yml
  docker/authentications.dev.dockerfile
  docker/gateway.dev.dockerfile
  docker/inventories.dev.dockerfile
  docker/products.dev.dockerfile
  docker/purchases.dev.dockerfile
  docker/reviews.dev.dockerfile
  docker/users.dev.dockerfile
Due: none

More logging to facilitate debugging
  packages/graphmarket-gateway/src/bootstrap.ts
  packages/graphmarket-service-authentications/src/bootstrap.ts
  packages/graphmarket-service-inventories/src/bootstrap.ts
  packages/graphmarket-service-products/src/bootstrap.ts
  packages/graphmarket-service-purchases/src/bootstrap.ts
  packages/graphmarket-service-reviews/src/bootstrap.ts
  packages/graphmarket-service-users/src/bootstrap.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Add missing dependencies: pg and ioredis
  packages/graphmarket-service-authentications/package.json
Due: npx prettier --write, git add -f

Remove custom networks + fix typeorm/ioredis
  docker-compose.dev.yml
  packages/graphmarket-service-authentications/src/server/server.ts
  packages/graphmarket-service-inventories/src/server/server.ts
  packages/graphmarket-service-products/src/server/server.ts
  packages/graphmarket-service-purchases/src/server/server.ts
  packages/graphmarket-service-reviews/src/server/server.ts
  packages/graphmarket-service-users/src/server/server.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Update docker-compose for production to reflect changes made so far to the one for development
  docker-compose.yml
Due: none

Remove useless comments
  docker-compose.dev.yml
  docker-compose.yml
Due: none

Added available & quantity in product
  packages/graphmarket-service-inventories/src/resolvers/ProductInventoryResolver.ts
  packages/graphmarket-service-inventories/src/services/InventoryService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added GraphQLPrice
  packages/graphmarket-entities/src/inventory/Inventory.ts
  packages/graphmarket-graphql-scalars/src/GraphQLPrice.ts
  packages/graphmarket-graphql-scalars/src/index.ts
  packages/graphmarket-service-inventories/src/resolvers/ProductInventoryResolver.ts
  website/src/app/products/products.component.html
  website/src/app/products/products.component.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Remove cors
  packages/graphmarket-helpers/package.json
  packages/graphmarket-helpers/src/buildExpressApp.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Wow
  website/package-lock.json
  website/package.json
  website/src/app/app.component.html
  website/src/app/app.module.ts
  website/src/app/graphql.module.ts
  website/src/app/products/product.component.html
  website/src/app/products/product.component.ts
  website/src/app/products/products-routing.module.ts
  website/src/app/products/products.component.html
  website/src/app/products/products.component.ts
  website/src/app/products/products.module.ts
  website/src/environments/environment.common.ts
  website/src/environments/environment.prod.ts
  website/src/environments/environment.ts
  website/src/styles/components/_import.scss
  website/src/styles/components/text.scss
Due: npx eslint --fix, npx prettier --write, git add -f

Wow
  packages/graphmarket-service-users/src/resolvers/UserResolver.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Bump helpers version
  packages/graphmarket-gateway/package.json
  packages/graphmarket-helpers/package.json
  packages/graphmarket-service-authentications/package.json
  packages/graphmarket-service-inventories/package.json
  packages/graphmarket-service-products/package.json
  packages/graphmarket-service-purchases/package.json
  packages/graphmarket-service-reviews/package.json
  packages/graphmarket-service-users/package.json
Due: npx prettier --write, git add -f

Added verified to the review
  packages/graphmarket-service-purchases/src/resolvers/ReviewPurchaseResolver.ts
  packages/graphmarket-service-purchases/src/resolvers/index.ts
  packages/graphmarket-service-purchases/src/server/server.ts
  packages/graphmarket-service-purchases/src/services/PurchaseService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added ; to logger.info in bootstrap -> TYPE ERROR
  packages/graphmarket-gateway/src/bootstrap.ts
  packages/graphmarket-service-authentications/src/bootstrap.ts
  packages/graphmarket-service-inventories/src/bootstrap.ts
  packages/graphmarket-service-products/src/bootstrap.ts
  packages/graphmarket-service-purchases/src/bootstrap.ts
  packages/graphmarket-service-reviews/src/bootstrap.ts
  packages/graphmarket-service-users/src/bootstrap.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Moved services log info to debug
  packages/graphmarket-gateway/src/bootstrap.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Sign in & Sign Out
  packages/graphmarket-service-reviews/src/services/ReviewService.ts
  website/package-lock.json
  website/package.json
  website/src/app/app-routing.module.ts
  website/src/app/app.component.ts
  website/src/app/app.module.ts
  website/src/app/auth-guard.service.ts
  website/src/app/core/core.module.ts
  website/src/app/core/index.ts
  website/src/app/core/models/index.ts
  website/src/app/core/models/user.model.ts
  website/src/app/core/services/index.ts
  website/src/app/core/services/token.service.ts
  website/src/app/core/services/user.service.ts
  website/src/app/dashboard/dashboard-routing.module.ts
  website/src/app/dashboard/dashboard.component.html
  website/src/app/dashboard/dashboard.component.ts
  website/src/app/dashboard/dashboard.module.ts
  website/src/app/graphql.module.ts
  website/src/app/products/product.component.html
  website/src/app/products/product.component.ts
  website/src/app/products/products.module.ts
  website/src/app/shared/index.ts
  website/src/app/shared/layout/header.component.html
  website/src/app/shared/layout/header.component.ts
  website/src/app/shared/shared.module.ts
  website/src/app/shared/show-auth.directive.ts
  website/src/app/sign-in/sign-in.component.html
  website/src/app/sign-in/sign-in.component.ts
  website/src/assets/logo.png
  website/src/favicon.ico
Due: npx eslint --fix, npx prettier --write, git add -f

Sign In & Sign Up & Verification
  packages/graphmarket-entities/src/user/User.ts
  packages/graphmarket-service-authentications/src/resolvers/AuthenticationResolver.ts
  packages/graphmarket-service-authentications/src/services/AuthenticationService.ts
  website/angular.json
  website/package-lock.json
  website/package.json
  website/src/app/app-routing.module.ts
  website/src/app/app.module.ts
  website/src/app/auth/auth.module.ts
  website/src/app/core/models/user.model.ts
  website/src/app/core/services/user.service.ts
  website/src/app/graphql.module.ts
  website/src/app/products/product.component.html
  website/src/app/products/product.component.ts
  website/src/app/products/products.component.html
  website/src/app/sign-in/sign-in.component.html
  website/src/app/sign-in/sign-in.component.ts
  website/src/app/sign-up/sign-up.component.html
  website/src/app/sign-up/sign-up.component.ts
  website/src/app/verify/verify.component.html
  website/src/app/verify/verify.component.ts
  website/src/styles/styles.scss
Due: npx eslint --fix, npx prettier --write, git add -f

A lot
  packages/graphmarket-service-users/src/resolvers/UserResolver.ts
  website/src/app/app-routing.module.ts
  website/src/app/app.module.ts
  website/src/app/core/models/user.model.ts
  website/src/app/core/services/user.service.ts
  website/src/app/dashboard/dashboard-routing.module.ts
  website/src/app/dashboard/dashboard.component.html
  website/src/app/dashboard/dashboard.component.ts
  website/src/app/dashboard/profile/profile.component.html
  website/src/app/dashboard/profile/profile.component.ts
  website/src/app/products/product.component.html
  website/src/app/shared/layout/header.component.html
  website/src/app/shared/layout/header.component.ts
  website/src/app/shared/show-auth.directive.ts
  website/src/app/user/user.component.html
  website/src/app/user/user.component.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Dep update
  packages/graphmarket-graphql-args/package.json
Due: npx prettier --write, git add -f
