Repository carlocorradini/graphmarket: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettify

added trailingComma to prettier
  .prettierrc
Due: none

Update fix lint
  .lintstagedrc
  package.json
  src/config/env.ts
  src/graphql/resolvers/RecipeResolver.ts
  src/graphql/resolvers/UserResolver.ts
  src/logger/logger.ts
Due: npm run lint, npm run prettify

fix prettier
  package.json
Due: npm run prettify

fix
  .prettierignore
  tsconfig.json
Due: npm run prettify

fix workflows
  .github/workflows/main.yml
Due: none

update type locations
  src/config/config.ts
  src/interfaces/index.ts
  src/typings/index.ts
  tsconfig.json
Due: npm run lint, npm run prettify

Test update
  .eslintignore
  .eslintrc
  .prettierignore
  jest.config.js
  package.json
  test/app.test.ts
  tests/app.test.ts
  tests/tsconfig.json
  tsconfig.json
Due: npm run lint, npm run prettify

Added JWT support
  .env.example
  package-lock.json
  package.json
  src/config/config.ts
  src/config/env.ts
  src/graphql/resolvers/UserResolver.ts
  src/helper/JWTHelper.ts
  src/helper/index.ts
  src/typings/index.ts
Due: npm run lint, npm run prettify

JWT & Authentication support
  .env.example
  .vscode/settings.json
  package-lock.json
  package.json
  src/app.ts
  src/config/config.ts
  src/config/env.ts
  src/entities/User.ts
  src/graphql/inputs/UserCreateInput.ts
  src/graphql/resolvers/RecipeResolver.ts
  src/graphql/resolvers/UserResolver.ts
  src/helper/JWTHelper.ts
  src/middleware/AuthMiddleware.ts
  src/middleware/index.ts
  src/types/index.ts
  src/types/types.ts
  src/typings/express.ts
Due: npm run lint, npm run prettify

JWT expiration time set to 7 days
  src/config/env.ts
Due: npm run lint, npm run prettify

Bug fix
  .eslintrc
  package.json
  scripts/build.ts
  scripts/tsconfig.json
Due: npm run lint, npm run prettify

Server structure update
  src/app.ts
  src/config/config.ts
  src/config/env.ts
  src/middleware/AuthorizationMiddleware.ts
  src/middleware/index.ts
  src/server/Server.ts
  src/server/index.ts
  src/types/types.ts
Due: npm run lint, npm run prettify

env example file update
  .env.example
Due: none

Working example
  src/app.ts
  src/entities/Recipe.ts
  src/entities/User.ts
  src/graphql/inputs/UserCreateInput.ts
  src/graphql/resolvers/UserResolver.ts
Due: npm run lint, npm run prettify

Recipe now is a Product
  src/entities/Product.ts
  src/entities/User.ts
  src/entities/index.ts
  src/graphql/inputs/ProductCreateInput.ts
  src/graphql/inputs/ProductUpdateInput.ts
  src/graphql/inputs/index.ts
  src/graphql/resolvers/ProductResolver.ts
  src/graphql/resolvers/RecipeResolver.ts
  src/graphql/resolvers/UserResolver.ts
  src/graphql/resolvers/index.ts
Due: npm run lint, npm run prettify

Added stale
  .github/stale.yml
Due: none

Add Codacy badge
  README.md
Due: npm run prettify

Update README.md
  README.md
Due: npm run prettify

Changed ADD to COPY in Dockerfile
  Dockerfile
Due: none

Stale config update
  .github/stale.yml
Due: none

User Repository with transactin support
  src/error/.gitkeep
  src/error/AuthenticationError.ts
  src/error/index.ts
  src/graphql/resolvers/UserResolver.ts
  src/repositories/UserRepository.ts
  src/repositories/index.ts
  src/types/types.ts
Due: npm run lint, npm run prettify

Added logger into user repository & changed from string to GraphQLNonEmptyString return scalar in Sign In resolver
  src/graphql/resolvers/UserResolver.ts
  src/repositories/UserRepository.ts
Due: npm run lint, npm run prettify

Entities name renamed from snake to camelcase
  src/entities/Product.ts
  src/entities/User.ts
  src/graphql/inputs/UserCreateInput.ts
  src/graphql/inputs/UserUpdateInput.ts
  src/graphql/resolvers/ProductResolver.ts
  src/graphql/resolvers/UserResolver.ts
  src/middlewares/AuthorizationMiddleware.ts
  src/middlewares/index.ts
  src/server/Server.ts
Due: npm run lint, npm run prettify

Product Repository & Authorization Error
  src/error/UnauthorizedError.ts
  src/error/index.ts
  src/graphql/inputs/ProductUpdateInput.ts
  src/graphql/resolvers/ProductResolver.ts
  src/graphql/resolvers/UserResolver.ts
  src/repositories/ProductRepository.ts
  src/repositories/index.ts
Due: npm run lint, npm run prettify

dependencies update
  package-lock.json
  package.json
Due: npm run prettify

Set UTF-8 as default encoding
  .vscode/settings.json
Due: npm run prettify

Added gzip compression
  package-lock.json
  package.json
  src/server/Server.ts
Due: npm run lint, npm run prettify

Added cors
  package.json
  src/server/Server.ts
Due: npm run lint, npm run prettify

Added helmet
  package-lock.json
  package.json
  src/server/Server.ts
Due: npm run lint, npm run prettify

Helmet removed
  package-lock.json
  package.json
  src/server/Server.ts
Due: npm run lint, npm run prettify

Add license scan report and status
  README.md
Due: npm run prettify

README UPDATE
  README.md
Due: npm run prettify

Configure checks for the Server
  src/server/Server.ts
Due: npm run lint, npm run prettify

App structure
  src/app.ts
Due: npm run lint, npm run prettify

typo
  src/server/Server.ts
Due: npm run lint, npm run prettify

Added Redis cache service
  .env.example
  package-lock.json
  package.json
  src/app.ts
  src/config/config.ts
  src/config/env.ts
  src/error/UnauthorizedError.ts
  src/graphql/resolvers/UserResolver.ts
  src/helper/JWTHelper.ts
  src/server/Server.ts
  src/services/CacheService.ts
  src/services/index.ts
  src/types/types.ts
Due: npm run lint, npm run prettify

Revoke token now is working
  src/graphql/resolvers/UserResolver.ts
  src/server/Server.ts
Due: npm run lint, npm run prettify

Added express helmet for security
  package-lock.json
  package.json
  src/server/Server.ts
Due: npm run lint, npm run prettify

Graceful shutdown
  package.json
  src/app.ts
  src/server/Server.ts
Due: npm run lint, npm run prettify

Path conditions:
  npm run lint: any of: *.{js,ts}
  npm run prettify: any of: *.{js,ts,json,md}
