Repository carlocorradini/graphmarket: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, git add -f

.lintstagedrc:

{
  "*.{js,ts}": [
    "npx eslint --fix",
    "git add"
  ],
  "*.{js,ts,json,md}": [
    "npx prettier --write",
    "git add -f"
  ]
}

fix
  src/server/Server.ts
Due: npx eslint --fix, npx prettier --write, git add -f

fix bug
  .env.example
  .env.test.example
  src/config/config.ts
  src/config/env.ts
  src/server/Server.ts
  src/types/types.ts
  tests/__utils/env.ts
Due: npx eslint --fix, npx prettier --write, git add -f

modified env variables in tests
  .env.example
  .env.test.example
  tests/__utils/env.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Removed console transport in env test
  src/logger/logger.ts
Due: npx eslint --fix, npx prettier --write, git add -f

added entities and resolvers regex pattern
  tests/__utils/createDatabaseConnection.ts
  tests/__utils/makeGraphQlRequest.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Renamed JWT to Token
  .env.example
  src/config/config.ts
  src/config/env.ts
  src/server/Server.ts
  src/services/TokenService.ts
  src/types/types.ts
  src/typings/express.d.ts
Due: npx eslint --fix, npx prettier --write, git add -f

fix error
  tests/__utils/makeGraphQlRequest.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Renamed workflow
  .github/workflows/build.yml
Due: none

procfile update
  Procfile
Due: none

added script test verbose and +1 test
  package.json
  tests/graphql/resolvers/UserResolver.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Update README.md
  README.md
Due: npx prettier --write, git add -f

added more tests
  tests/graphql/resolvers/UserResolver.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Dependencies update
  package-lock.json
  package.json
Due: npx prettier --write, git add -f

fix new eslint rules
  tests/__utils/createDatabaseConnection.ts
  tests/__utils/makeGraphQlRequest.ts
  tests/graphql/resolvers/UserResolver.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

simplified user resolver test
  tests/graphql/resolvers/UserResolver.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

added query users
  tests/graphql/resolvers/UserResolver.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

En tuil tests
  src/utils/EnvUtil.ts
  tests/util/EnvUtil.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

added env and config tests
  src/config/env.ts
  tests/__utils/env.ts
  tests/config/config.test.ts
  tests/config/env.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

fix test message
  tests/config/config.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Cleaned envutil
  src/utils/EnvUtil.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Excluded __utils folder in tests from tests
  jest.config.ts
Due: npx eslint --fix, npx prettier --write, git add -f

more tests
  jest.config.ts
  tests/__utils__/createDatabaseConnection.ts
  tests/__utils__/env.ts
  tests/__utils__/index.ts
  tests/__utils__/makeGraphQlRequest.ts
  tests/config/config.test.ts
  tests/config/env.test.ts
  tests/globalSetup.ts
  tests/graphql/resolvers/UserResolver.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

user entity test
  tests/entities/User.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

fix
  tests/entities/User.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Renamed folder error to errors
  src/errors/AuthenticationError.ts
  src/errors/UnauthorizedError.ts
  src/errors/index.ts
  src/services/UserService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added tests for errors
  tests/errors/AuthenticationError.test.ts
  tests/errors/UnauthorizedError.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

typo
  tests/errors/UnauthorizedError.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

dep updates
  package-lock.json
  package.json
Due: npx prettier --write, git add -f

fix old eslint
  src/typings/express.d.ts
Due: npx eslint --fix, npx prettier --write, git add -f

fix bug & added verified in user entity
  src/entities/User.ts
  src/graphql/resolvers/UserResolver.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added verification error, test and check for user verification
  src/errors/VerificationError.ts
  src/errors/index.ts
  src/services/UserService.ts
  tests/errors/VerificationError.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

bug in envutil due to this
  src/utils/EnvUtil.ts
Due: npx eslint --fix, npx prettier --write, git add -f

tests fix
  tests/entities/User.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added phone service
  .env.example
  package-lock.json
  package.json
  src/config/config.ts
  src/config/env.ts
  src/services/PhoneService.ts
  src/types/types.ts
Due: npx eslint --fix, npx prettier --write, git add -f

added phone servic to test
  .env.test.example
Due: none

Phone service tests fix
  src/services/UserService.ts
  tests/__utils__/env.ts
  tests/config/config.test.ts
  tests/config/env.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

github build fix with env vars for phone service
  .github/workflows/build.yml
Due: none

fix env tests
  tests/__utils__/env.ts
Due: npx eslint --fix, npx prettier --write, git add -f

fix
  tests/__utils__/env.ts
Due: npx eslint --fix, npx prettier --write, git add -f

dep update
  package-lock.json
  package.json
Due: npx prettier --write, git add -f
