Repository carlocorradini/graphmarket: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc:

{
  "*.{js,ts}": [
    "npx eslint --fix"
  ],
  "*.{js,ts,json,md}": [
    "npx prettier --write"
  ]
}

Added snyk support + update dependencies
  README.md
  package-lock.json
  package.json
Due: npx prettier --write

Added jwt blacklist that works!
  .huskyrc
  .lintstagedrc
  package-lock.json
  package.json
  src/error/UnauthorizedError.ts
  src/graphql/resolvers/UserResolver.ts
  src/helper/JWTHelper.ts
  src/repositories/UserRepository.ts
  src/server/Server.ts
  src/services/CacheService.ts
  src/types/types.ts
  src/typings/express-jwt-blacklist.d.ts
  src/typings/express.ts
Due: npx eslint --fix, npx prettier --write

docker progress
  .dockerignore
  Dockerfile
  docker-compose.yml
  package-lock.json
  package.json
  src/server/Server.ts
  src/services/CacheService.ts
  src/services/index.ts
Due: npx eslint --fix, npx prettier --write

Fix
  src/app.ts
Due: npx eslint --fix, npx prettier --write

Update cache and pagination args
  src/graphql/args/PaginationArgs.ts
  src/graphql/resolvers/ProductResolver.ts
  src/graphql/resolvers/UserResolver.ts
  src/repositories/ProductRepository.ts
  src/repositories/UserRepository.ts
  src/server/Server.ts
Due: npx eslint --fix, npx prettier --write

type typo
  src/repositories/ProductRepository.ts
Due: npx eslint --fix, npx prettier --write

Dependencies update & security update
  package-lock.json
  package.json
Due: npx prettier --write

Dependencies update
  package-lock.json
  package.json
Due: npx prettier --write

Update README.md
  README.md
Due: npx prettier --write

Added comments to CryptUtil
  src/util/CryptUtil.ts
Due: npx eslint --fix, npx prettier --write

Added comments to EnvUtil
  src/util/EnvUtil.ts
Due: npx eslint --fix, npx prettier --write

Added comment to types
  src/types/types.ts
Due: npx eslint --fix, npx prettier --write

Added comment to Server
  src/server/Server.ts
Due: npx eslint --fix, npx prettier --write

Added comment UserRepository
  src/repositories/UserRepository.ts
Due: npx eslint --fix, npx prettier --write

Fix comments error
  src/repositories/UserRepository.ts
  src/server/Server.ts
Due: npx eslint --fix, npx prettier --write

Added ts-doc eslint plugin | Docs changes
  .eslintrc
  package-lock.json
  package.json
  src/repositories/UserRepository.ts
  src/server/Server.ts
  src/util/CryptUtil.ts
  src/util/EnvUtil.ts
Due: npx eslint --fix, npx prettier --write

Comment on AuthorizationMiddleware
  src/middlewares/AuthorizationMiddleware.ts
Due: npx eslint --fix, npx prettier --write

Comments in logger & separation between transports and logger
  src/logger/index.ts
  src/logger/logger.ts
  src/logger/transports/consoleTransport.ts
  src/logger/transports/fileTransport.ts
  src/logger/transports/index.ts
Due: npx eslint --fix, npx prettier --write

Comment on JWTHelper class
  src/helper/JWTHelper.ts
Due: npx eslint --fix, npx prettier --write

Added comments to all files
  scripts/build.ts
Due: npx eslint --fix, npx prettier --write

Added comments to all files
  src/config/config.ts
  src/config/env.ts
  src/entities/User.ts
  src/error/AuthenticationError.ts
  src/error/UnauthorizedError.ts
  src/graphql/args/PaginationArgs.ts
  src/graphql/inputs/UserCreateInput.ts
  src/graphql/inputs/UserUpdateInput.ts
  src/graphql/resolvers/UserResolver.ts
  src/repositories/UserRepository.ts
Due: npx eslint --fix, npx prettier --write

Bug fix in production console
  src/logger/logger.ts
Due: npx eslint --fix, npx prettier --write

Exclude doc or docs folder from git
  .gitignore
Due: none

Added Typedocs
  package-lock.json
  package.json
  tsconfig.json
  typedoc.json
Due: npx prettier --write

Add debug configuration
  .vscode/launch.json
Due: npx prettier --write

dependencies update
  package-lock.json
  package.json
Due: npx prettier --write

copy gitignore content in dockerignore
  .dockerignore
Due: none

Update compose version
  docker-compose.yml
Due: none

For now, do not ignore .env
  .dockerignore
  .gitignore
Due: none

Rename .env.example to .env
  .env
Due: none

Refactor compose: use .env
  docker-compose.yml
Due: none

Make better use of environment variables
  .env
  docker-compose.yml
  src/config/config.ts
  src/config/env.ts
  src/server/Server.ts
  src/types/types.ts
Due: npx eslint --fix, npx prettier --write

Support remote debug
  docker-compose-debug.yml
  package.json
Due: npx prettier --write

Add diagram generated by webstorm
  diagram.svg
Due: none

Do not expose postgres and redis ports
  docker-compose-debug.yml
Due: none

Refactor some code
  src/app.ts
  src/server/Server.ts
Due: npx eslint --fix, npx prettier --write

Split app and server
  src/server/App.ts
  src/server/Server.ts
Due: npx eslint --fix, npx prettier --write

Export fix & updated deps
  package-lock.json
  package.json
  src/graphql/inputs/index.ts
  src/graphql/inputs/product/ProductCreateInput.ts
  src/graphql/inputs/product/ProductUpdateInput.ts
  src/graphql/inputs/product/index.ts
  src/graphql/inputs/user/UserCreateInput.ts
  src/graphql/inputs/user/UserUpdateInput.ts
  src/graphql/inputs/user/index.ts
  src/graphql/scalars/index.ts
Due: npx eslint --fix, npx prettier --write

graphql export naming
  src/graphql/index.ts
Due: npx eslint --fix, npx prettier --write

compose: don't expose ports
  docker-compose.yml
Due: none
