Repository carlocorradini/graphmarket: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, git add -f

.lintstagedrc:

{
  "*.{js,ts}": [
    "npx eslint --fix",
    "git add"
  ],
  "*.{js,ts,json,md}": [
    "npx prettier --write",
    "git add -f"
  ]
}

compose-debug: add and expose ports
  docker-compose-debug.yml
Due: none

Improve env.ts
  src/config/env.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Sketch some README
  README.md
Due: npx prettier --write, git add -f

reformat some code
  src/server/App.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Fix bug: use "enable" instead of "use"
  src/server/App.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Refactor a lot of things
  docker-compose-debug.yml
  src/app.ts
  src/config/config.ts
  src/config/env.ts
  src/server/Server.ts
  src/types/types.ts
Due: npx eslint --fix, npx prettier --write, git add -f

dep update
  package-lock.json
  package.json
Due: npx prettier --write, git add -f

Add missing .PASSWORD
  src/server/Server.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Dep update
  package-lock.json
  package.json
Due: npx prettier --write, git add -f

Dep update (#76)
  package-lock.json
  package.json
Due: npx prettier --write, git add -f

Update README.md
  README.md
Due: npx prettier --write, git add -f

Project renamed from graphql-template to graphmarket
  LICENSE
  Procfile
  README.md
  package-lock.json
  package.json
  typedoc.json
Due: npx prettier --write, git add -f

Bug fix
  src/helper/JWTHelper.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Changed jwt exp to number
  .env.example
  src/config/env.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Removed products
  src/entities/Product.ts
  src/entities/User.ts
  src/entities/index.ts
  src/graphql/inputs/product/ProductCreateInput.ts
  src/graphql/inputs/product/ProductUpdateInput.ts
  src/graphql/inputs/product/index.ts
  src/graphql/resolvers/ProductResolver.ts
  src/helper/JWTHelper.ts
  src/helper/index.ts
  src/repositories/ProductRepository.ts
  src/repositories/UserRepository.ts
  src/repositories/index.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Removed helper and added services
  src/entities/User.ts
  src/error/UnauthorizedError.ts
  src/graphql/inputs/index.ts
  src/graphql/resolvers/UserResolver.ts
  src/graphql/resolvers/index.ts
  src/middlewares/AuthorizationMiddleware.ts
  src/server/Server.ts
  src/services/TokenService.ts
  src/services/UserService.ts
  src/types/types.ts
  src/typings/express-jwt-blacklist.d.ts
Due: npx eslint --fix, npx prettier --write, git add -f

User gender is optional
  src/entities/User.ts
  src/graphql/inputs/user/UserCreateInput.ts
  src/graphql/inputs/user/UserUpdateInput.ts
Due: npx eslint --fix, npx prettier --write, git add -f

comment
  src/graphql/resolvers/UserResolver.ts
Due: npx eslint --fix, npx prettier --write, git add -f

comments
  src/services/TokenService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

bux fix enum genders
  src/entities/User.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Bug fix
  src/graphql/resolvers/UserResolver.ts
  src/server/Server.ts
  src/services/UserService.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Renamed util to utils
  src/utils/CryptUtil.ts
  src/utils/EnvUtil.ts
  src/utils/index.ts
Due: npx eslint --fix, npx prettier --write, git add -f

CryptUtil test
  src/entities/User.ts
  src/logger/logger.ts
  src/server/Server.ts
  src/services/UserService.ts
  tests/app.test.ts
  tests/util/CryptUtil.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Bug fix pasword store
  src/entities/User.ts
Due: npx eslint --fix, npx prettier --write, git add -f

best tests fro crypt
  tests/app.test.ts
  tests/util/CryptUtil.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

jest updated to typescript
  .eslintignore
  jest.config.ts
  tests/globalSetup.ts
  tests/globalTeardown.ts
  tests/tsconfig.json
Due: npx eslint --fix, npx prettier --write, git add -f

first test resolver
  tests/createTestConnection.ts
  tests/graphql/resolvers/UserResolver.test.ts
  tests/graphqlTestCall.ts
  tests/util/CryptUtil.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Added more tests
  package-lock.json
  package.json
  src/server/Server.ts
  tests/graphql/resolvers/UserResolver.test.ts
  tests/graphqlTestCall.ts
Due: npx eslint --fix, npx prettier --write, git add -f

Minor fixes
  src/services/index.ts
  tests/graphql/resolvers/UserResolver.test.ts
  tsconfig.json
Due: npx eslint --fix, npx prettier --write, git add -f

test on user create input username
  tests/graphql/resolvers/UserResolver.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

test password on user creation
  tests/graphql/resolvers/UserResolver.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

added test for user creation input name
  tests/graphql/resolvers/UserResolver.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

fix
  tests/graphql/resolvers/UserResolver.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

changes crypturil tests
  tests/util/CryptUtil.test.ts
Due: npx eslint --fix, npx prettier --write, git add -f

jest script update
  package.json
Due: npx prettier --write, git add -f

add coverage to clean script
  package.json
Due: npx prettier --write, git add -f

Add coverage script
  package.json
Due: npx prettier --write, git add -f

Added coverage script and codecov support in CI
  .github/workflows/main.yml
  package.json
Due: npx prettier --write, git add -f

dep updates
  package-lock.json
  package.json
Due: npx prettier --write, git add -f
